<header class="shadow-lg p-3 w-full bg-white max-h-20 fixed top-0 z-50">
  <div class="flex align-middle items-center justify-between max-w-screen-2xl mx-auto">
    <img src="/images/logo.png" class="max-h-16" alt="" />
    <nav class="flex gap-3 my-2 uppercase text-xl">
      <a routerLink="/" routerLinkActive="text-blue-600" [routerLinkActiveOptions]="{ exact: true }"
        class="hover:text-blue-300">Home</a><a routerLink="/shop" routerLinkActive="text-blue-600"
        class="hover:text-blue-300">Shop</a>
      <a routerLink="/test-error" class="hover:text-blue-300">Contact</a>
    </nav>
    <div class="flex gap-3 align-middle">
      <a matBadge="{{ cartService.itemCount() }}" routerLink="/cart" matBadgeSize="large"
        class="custom-badge mt-2 mr-2">
        <mat-icon>shopping_cart</mat-icon>
      </a>
      @if(accountService.currentUser()){
      <button mat-button [mat-menu-trigger-for]="menu">
        <mat-icon>arrow_drop_down</mat-icon>
        <span>{{ accountService.currentUser()?.email }}</span>
      </button>

      }@else{
      <button routerLink="account/register" mat-stroked-button>Register</button>
      <button routerLink="account/login" mat-stroked-button>Login</button>
      }
    </div>
  </div>
</header>

@if(busyService.loading()){
<mat-progress-bar mode="indeterminate" class="fixed top-20 z-50"></mat-progress-bar>
}

<mat-menu #menu="matMenu">
  <button mat-menu-item class="px-3" routerLink="/cart">
    <mat-icon>shopping_cart</mat-icon>
    My Cart
  </button>
  <button routerLink="/orders" mat-menu-item class="px-3" routerLink="/orders">
    <mat-icon>history</mat-icon>
    My Orders
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item class="px-3" (click)="logout()" routerLink="/cart">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu>